md-dialog(aria-label="Thumbnail Settings")
  form(name="vm.form" role="form" novalidate ng-cloak)
    md-toolbar
      .md-toolbar-tools
        h2 Thumbnail Settings
        span(flex)
        md-button.md-icon-button(ng-click="vm.cancel()")
          md-icon(md-font-set="material-icons") close
    md-dialog-content
      .md-dialog-content

        md-input-container
          label Name
          input(
            ng-model="vm.thumbnail.name"
            required
            ng-minlength="2"
            ng-maxlength="50"
            ng-pattern="/^(?!.*?(_thumb|\")).*$/i"
            ng-change="vm.createNew && vm.slugify(vm.thumbnail)"
            )

        md-input-container
          label Slug
          input(
            ng-model="vm.thumbnail.slug"
            required
            disabled
            ng-pattern="/^(?!.*?(_thumb|\")).*$/i"
            )

        md-input-container.md-block
          label Format
          md-select(ng-model="vm.thumbnail.format")
            md-option(ng-repeat="option in vm.thumbnailFormatOptions", value="{{option.value}}") {{option.name}}

        md-input-container
          label Number
          input(type="number", ng-model="vm.thumbnail.number", min="1")

    md-dialog-actions(layout="row")
      span(flex)
      md-button(ng-click="vm.cancel()") Close
      md-button.md-accent(ng-click="vm.ok(vm.thumbnail)" ng-disabled="vm.form.$invalid") Save
