<!doctype html>
html(ng-app="app" ng-strict-di)

  head

    base(href= clientBasePath + slug + '/')

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    meta(name="google" content="notranslate")
    meta(name="pinterest" content="nopin")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= pageTitle

    link(rel="stylesheet" href= clientBasePath + slug + '/font/roboto/font.css')

    if environment === 'production'
      each style in appStyles
        link(rel="stylesheet" href= clientBasePath + slug + '/build/css/' + style)

  body

    app(layout="row") Loading...

    script.
      var appConfig = {
        slug: '!{slug}',
        clientBasePath: '!{clientBasePath}',
        assistUrl: '!{assistUrl}',
        assistCredentials: '!{assistCredentials}',
        apiUrl: '!{apiUrl}',
        apiToken: '!{apiToken}',
        auth0: {
          clientId: '!{auth0.clientId}',
          domain: '!{auth0.domain}',
        },
      };

    if locals.environment !== 'production'
      script(src="/dev/js/bundle.js")

    else
      each script in appScripts
        script(src=clientBasePath + slug + '/build/js/' + script)
