<!doctype html>
html

  head

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    meta(name="google" content="notranslate")
    meta(name="pinterest" content="nopin")

    meta(name="viewport" content="width=device-width, initial-scale=1")

    title= pageTitle

    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-teal.min.css")

    style.
      * {
        box-sizing: border-box;
      }

      body {
        background: #ededed;
      }

      .auth0-lock * {
        font-family: "Roboto" !important;
      }

      .auth0-lock-name {
        position: relative;
        text-indent: -9999px;
      }

      .auth0-lock-name:before {
        content: "Welcome";
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        text-indent: 0;
        font-size: 18px;
      }

      .hide {
        display: none;
      }

      a {
        color: currentColor;
      }

      .wrapper {
        position: absolute;
        padding: 20px 50px 50px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
      }

      #login-form {
        border-radius: 2px;
        width: 300px;
        margin: auto;
      }

      .message {
        padding: 30px;
        margin: 0 auto 60px;
        max-width: 300px;
        border-radius: 2px;
      }

      .message.error {
        background-color: #F44336;
        color: white;
      }

      .message.success {
        background-color: #009688;
        color: white;
      }

  body
    .wrapper
      if client
        h2= client.name
        br

      if locals.errorMessage
        .message.error.mdl-shadow--2dp
          span= locals.errorMessage

      if locals.successMessage
        .message.success.mdl-shadow--2dp
          span= locals.successMessage

      if client
        #login-form.mdl-shadow--2dp

    script(src="https://cdn.auth0.com/js/lock/10.6/lock.min.js")

    script.
      var lock = new Auth0Lock('!{locals.auth0.clientId}', '!{locals.auth0.domain}', {
        theme: {
          logo: 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7',
          primaryColor: '#607D8B',
        },
        container: 'login-form',
        socialButtonStyle: 'big',
        auth: {
          responseType: 'code',
          redirectUrl: window.location.protocol + '//' + window.location.host + '!{locals.clientBasePath}_authorise',
          params: {
            state: '!{locals.slug}',
            scope: 'openid email',
          },
        },
      });
      lock.show();
