md-dialog(aria-label="Field")
  form(name="vm.form" role="form" novalidate ng-cloak)
    md-toolbar
      .md-toolbar-tools
        h2 Field
        span(flex)
        md-button.md-icon-button(ng-click="vm.cancel()")
          md-icon(md-font-set="material-icons") close
    md-dialog-content
      .md-dialog-content

        md-input-container.md-block
          label Name
          input(
            ng-model="vm.field.name"
            required
            ng-minlength="2"
            ng-maxlength="50"
            ng-pattern="/^[^\"]*$/"
            ng-change="vm.createNew && vm.slugify(vm.field)"
          )

        md-input-container.md-block
          label Slug
          input(
            ng-model="vm.field.slug"
            required
            ng-pattern="vm.slugPattern"
            ng-disabled="!vm.createNew"
          )

        md-input-container.md-block
          label Type
          md-select(ng-model="vm.field.type" required)
            md-option(ng-repeat="(type, field) in $root.$field.fields()" value="{{type}}") {{field.name}}

        md-input-container
          md-checkbox(ng-model="vm.field.settings.required", aria-label="Required?") Required

    md-dialog-actions(layout="row")
      span(flex)
      md-button(ng-click="vm.cancel()") Close
      md-button.md-accent(ng-click="vm.ok(vm.field)" ng-disabled="vm.form.$invalid") Save
