md-dialog(aria-label="Entity")
  //- md-toolbar
  //-   .md-toolbar-tools
  //-     h2 Entity
  //-     span(flex)
  //-     md-button.md-icon-button(ng-click="vm.cancel()")
  //-       md-icon(md-font-set="material-icons") close
  md-dialog-content
    //- .md-dialog-content

    entity(
      mode="{{vm.mode}}"
      entity="vm.entity"
      entities="vm.entities"
      schema="vm.schema"
      options="vm.options"
      entity-form="vm.entityForm"
      modal="$modal"
    )

  md-dialog-actions(layout="row")
    span(flex)
    md-button(ng-click="vm.cancel()") Close
    md-button.md-accent(ng-disabled="vm.entityForm.$invalid || vm.entity.trashed", ng-click="vm.ok(vm)") Save & Close
